# Backend (Laravel)
/backend/.phpunit.cache
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/storage/backup-sentry/*
/backend/public/assets/shared/lang/*.json

# Frontend (Next.js)
/frontend/.next
/frontend/node_modules
/landlord-frontend/.next
/landlord-frontend/node_modules
/tenant-frontend/.next
/tenant-frontend/node_modules

# General
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.fleet
.idea
.nova
.zed
cookies.txt