#Final > *,#returnedFinal > * {
    /*font-family: 'Simplified Arabic Fixed', 'sans-seri';*/
    /*--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;*/
    font-family: monospace, sans-serif !important;
}
.wrapper, .swal2-container {
    display: none;
}
#Final, #returnedFinal {
    background-color: #FFF;
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
}

.receipt-top-logo {
    text-align: center;
    margin-bottom: 6px;
}

.logo-in-receipt {
    width: 150px;
    height: 55px;
    /*filter: grayscale(1);*/
}

.receipt-header {
    line-height: 1;
    margin-bottom: 8px;
}

.receipt-header > * {
    margin: 0;
}

.order-info {
    /*text-align: center;*/
}

.receipt-footer {
    margin-top: 8px;
    line-height: 1;
}

.receipt-footer > * {
    margin: 0;
}

#ReceiptTable table {
    width: 88mm !important;
    /*border: 0;*/
    margin: 0 auto;
    direction: ltr;
    background-color: #fff;
}
#ReceiptTable table td {
    width: 50px;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
}

#ReceiptTable table td:nth-child(2) {
    text-align: right !important;
}

#ReceiptTable table td:nth-child(3) {
    text-align: right !important;
}
#ReceiptTable table td:nth-child(4) {
    text-align: center !important;
    width: 15px;
}

#ReceiptTable table th {
    font-size: 11px !important;
    font-weight: bold;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #000;
    border-collapse: collapse;
}

#ReceiptTable table tr {
    width: 50px;
    padding: 0;
    border-bottom: 1px solid #000 !important;
    border-collapse: collapse;
}

.subtotal-price {
    font-weight: bold;
    font-size: 20px;
}
.prices-receipt > *, .store-info > * {
    font-weight:bold;
}
.remaining-amount, .amount-paid, .tax-price {
    font-weight: bold;
    font-size: 15px;
}

.current-date-time {
    font-weight: bold;
    text-align: center;
}

#barcodeTarget {
    margin: 0 auto;
    font-weight: bold;
    font-size:14px;
}

.border-dashed {
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
    padding-bottom: 1px;
}
