.nav.nav-treeview {
    display: block;
    margin-left: 20px;
    border-left: 1px solid #ffffff24;
    padding-left: 10px;
}

 .nav.nav-treeview .nav-item a {
    padding-left: 0;
}

.bg-transparent {
    background-color: transparent!important;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right.show .modal-dialog {
    transform: translateX(0);
}
